<!DOCTYPE html>
<html>
<head>
    <title>My 1st AngularJS</title>
</head>
<body ng-app ng-controller="greetingController">
    <h1>My 1st AngularJS</h1>

    <ul>
        <li ng-repeat="bookmark in bookmarks">
            <div>
                {{bookmark.Title}}
                <a href="#" ng-click="removeBookmark($index)">delete</a>
            </div>
            <div>
                <a ng-href="{{bookmark.URL}}" target="_blank">
                    {{bookmark.URL}}
                </a>
            </div>
            <div>{{bookmark.Rating}}</div>
        </li>
    </ul>

    <form ng-submit="addBookmark()">
        <p>Title <input type="text" ng-model="newbookmark.Title" /></p>
        <p>URL <input type="text" ng-model="newbookmark.URL"/></p>
        <p>Rating
            <select ng-model="newbookmark.Rating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </p>
        <p><input type="submit" value="add"/></p>
    </form>

    <script src="scripts/angular.js"></script>
    <script src="app.js"></script>
</body>
</html>